.webassets-cache/
webassets-external/
readme_media/
docs/
backup/
.DS_Store
*.pyc
*.pyo
env
venv
*.env
env*
dist
*.egg
*.egg-info
*.sqlite
.idea
*.inst
dump.rdb
.vscode/
.codeclimate.yml
circle.yml
data-dev.sqlite
LICENSE.md
README.md
migrations
