
{% extends 'layouts/user.html' %}

{% block user %}
    <table class="ui compact definition table">
        <tr><td>Start Date</td><td>{{ user.start_date }}</td></tr>
        <tr><td>Team</td><td>{{ user.team.name }}</td></tr>
        <tr><td>Full name</td><td>{{ '%s %s' % (user.first_name, user.last_name) }}</td></tr>
        <tr><td>Email address</td><td>{{ user.email }}</td></tr>
        <tr><td>Phone</td><td>{{ user.phone }}</td></tr>
    </table>
    <table class="ui compact definition selectable table">
        <thead>
            <tr>
                <th></th>
                <th>Available Vacation</th>
                <th>Personal Days Used</th>
                <th>Parttime</th>
                <th>Averaging</th>
                <th>Shift Length</th>
            </tr>
        </thead>
        <tbody>
            {% for s in schedules %}
                {% if s.year.iscurrent %}
                    <tr onclick="window.location.href ='{{url_for('user.schedule', schedule_id=s.id)}}'">
                {% else %}
                    <tr class="inactive" onclick="window.location.href ='{{url_for('user.schedule', schedule_id=s.id)}}'">
                {% endif %}
                {% if s.shiftlength > 8 %}
                <td class="ui icon" data-tooltip="Vacation has been scaled down to accomodate {{s.shiftlength}} hour shifts. Personal days are still represented as 8 hours">
                    {{s.year.year}}
                    <i class="question circle icon"></i>
                {% else %}
                <td class="ui icon">
                    {{s.year.year}}
                {% endif %}
                </td>
                <td>{{s.available_vacation}}</td>
                <td>{{s.used_personal}}</td>
                <td>{{s.isparttime}}</td>
                <td>{{s.isaveraging}}</td>
                <td>{{s.shiftlength}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
