{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a><br><br>
            <form method='post' action="{{ url_for('admin.shift_info') }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <select name='year' id="year_select" class="ui dropdown">
                    {% for y in years %}
                    <option value="{{ y.id }}">{{y.year}}</option>
                    {% endfor %}
                </select>
                <input class="ui basic compact button" type="submit" value="Change Year">
            </form>
            <div class='row'>
                <h3>Solution Center Hours</h3>
                <table class="ui celled selectable table shift_records_table">
                    <thead>
                        <tr>
                            <th>Week</th>
                            <th>Normal<i class="caret down icon"></i></th>
                            <th>IC<i class="caret down icon"></i></th>
                            <th>OT<i class="caret down icon"></i></th>
                            <th>Training<i class="caret down icon"></i></th>
                            <th>Manager<i class="caret down icon"></i></th>
                            <th>Total<i class="caret down icon"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for w in week_stats %}
                        <tr>
                            <td>{{ w.week }}</td>
                            <td>{{ w.SC_R }}</td>
                            <td>{{ w.SC_IC }}</td>
                            <td>{{ w.SC_OTB + w.SC_OTP }}</td>
                            <td>{{ w.SC_T }}</td>
                            <td>{{ w.SC_ADMIN }}</td>
                            <td>{{ w.SC_ADMIN + w.SC_T + w.SC_OTB + w.SC_OTP + w.SC_IC + w.SC_R }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <div class='row'>
                <h3>Corporate Services Hours</h3>
                <table class="ui celled selectable table shift_records_table">
                    <thead>
                        <tr>
                            <th>Week</th>
                            <th>Normal<i class="caret down icon"></i></th>
                            <th>Manager<i class="caret down icon"></i></th>
                            <th>Total<i class="caret down icon"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for w in week_stats %}
                        <tr>
                            <td>{{ w.week }}</td>
                            <td>{{ w.CS_R }}</td>
                            <td>{{ w.CS_ADMIN }}</td>
                            <td>{{ w.CS_ADMIN + w.CS_R }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <div class='row'>
                <h3>Escalation Services Hours</h3>
                <table class="ui celled selectable table shift_records_table">
                    <thead>
                        <tr>
                            <th>Week</th>
                            <th>Normal<i class="caret down icon"></i></th>
                            <th>Manager<i class="caret down icon"></i></th>
                            <th>Total<i class="caret down icon"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for w in week_stats %}
                        <tr>
                            <td>{{ w.week }}</td>
                            <td>{{ w.ES_R }}</td>
                            <td>{{ w.ES_ADMIN }}</td>
                            <td>{{ w.ES_ADMIN + w.ES_R }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <div class='row'>
                <h3>ATS Hours</h3>
                <table class="ui celled selectable table shift_records_table">
                    <thead>
                        <tr>
                            <th>Week</th>
                            <th>Normal<i class="caret down icon"></i></th>
                            <th>Manager<i class="caret down icon"></i></th>
                            <th>Total<i class="caret down icon"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for w in week_stats %}
                        <tr>
                            <td>{{ w.week }}</td>
                            <td>{{ w.ATS_R }}</td>
                            <td>{{ w.ATS_ADMIN }}</td>
                            <td>{{ w.ATS_ADMIN + w.ATS_R }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready( function () {
            $('.shift_records_table').DataTable({
                "dom": "<'ui stackable grid'"+
                            "<'row'"+
                                "<'sixteen wide column' p>" +
                            ">"+
                            "<'row dt-table'"+
                                "<'sixteen wide column'tr>"+
                            ">"+
                        ">",
                })
            })
    </script>

{% endblock %}
