{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a><br><br>
            <div class="row">
                <div id="s" class="four fields">
                    <div class="ui input date_picker"><input placeholder="Start" type="text" id="min" /></div><div class="ui input date_picker"><input placeholder="End" type="text" id="max" /></div>
                </div><br>
                <div class="six fields">
                    <div class="ui label">
                      Total Vacation
                      <div id="vacation" class="detail"></div>
                    </div>
                    <div class="ui label">
                      Total Personal
                      <div id="personal" class="detail"></div>
                    </div>
                </div>
            </div><br>
            <div>
                <table class="ui celled selectable table shift_records_table">
                    <thead>
                        <tr>
                            <th>Day<i class="caret down icon"></i></th>
                            <th>Employee<i class="caret down icon"></i></th>
                            <th>Type<i class="caret down icon"></i></th>
                            <th>Team<i class="caret down icon"></i></th>
                            <th hidden>Role<i class="caret down icon"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for t in timeoff %}
                        <tr onclick="window.location.href = '{{ url_for('manage_user.edit_timeoff', user_id=t.schedule.user.id, timeoff_id=t.id) }}';">
                            <td>{{ t.dayof }}</td>
                            <td>{{ t.schedule.user.first_name}} {{ t.schedule.user.last_name[0] }}</td>
                            <td>{{ t.type.name }}</td>
                            <td>{{ t.schedule.user.team.name}}</td>
                            <td hidden>{{ t.schedule.user.role.name}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready( function () {
            $('.shift_records_table').DataTable({
                drawCallback: function( settings ) {
                    var api = new $.fn.dataTable.Api( settings );

                    $('#vacation').text(calcTotalDayOff(api.rows( {page:'current'} ).data(), ['Vacation']));
                    $('#personal').text(calcTotalDayOff(api.rows( {page:'current'} ).data(), ['Sick', 'FRL']));
                },
                "paging": false,
                "dom": "<'ui stackable grid'"+
                            "<'row dt-table'"+
                                "<'sixteen wide column'tr>"+
                            ">"+
                        ">",
                initComplete: function () {
                    createSelectColFilter(this, 2)
                    createSelectColFilter(this, 3)
                    createSelectColFilter(this, 4)
                    createRangeSelector(this)
                    }
                })
            })


        $.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
                var min = new Date($('#min').val());
                var max = new Date($('#max').val());
                var data = new Date(data[0]);
                if ( ( isNaN( min ) && isNaN( max ) ) ||
                     ( isNaN( min ) && data <= max ) ||
                     ( min <= data   && isNaN( max ) ) ||
                     ( min <= data   && data <= max ) )
                {
                    return true;
                }
                return false;
            }
        );

        function calcTotalDayOff(data, types){
          total = 0

          data.each(function(d){
            if (types.includes(d[2])){
                total += 1
            }
          })
          return total
        }

        function filterByDateByOTPaid(value){
          if ( filterByDate(value) && value[6] == 'True')
          {
              return true;
          }
          return false;
        }

        function createSelectColFilter(dt, col){
            var column = dt.api().column(col);
            var select = $('<select class="ui dropdown tableselect"><option value="">All</option></select>')
                .on( 'change', function () {
                    var val = $.fn.dataTable.util.escapeRegex(
                        $(this).val()
                    );
                    column
                        .search(val ? '^'+val+'$' : '', true, false)
                        .draw();
                } );

            column.data().unique().sort().each( function ( d, j ) {
                if(d){
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                }
            } );

            $('<label>' + column.header().textContent + ' : </label>').append(select).appendTo( $('#s') )
        }

        function createRangeSelector(dt){
            $('#min').val(moment().subtract(30, 'days').format('MM-D-YYYY'))
            $('#max').val(moment().format('MM-D-YYYY'))
            dt.api().draw()
            $('#min, #max').blur(function() {
                dt.api().draw();
            })
        }
    </script>

{% endblock %}
